.kb-btn {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  padding: 13px 12px;
  border: 0;
  outline: none;
  text-decoration: none;
  color: $text;
  font-weight: 500;
  text-align: center;
  transition: all .1s ease-in-out;
  white-space: nowrap;

  &--primary {
    background: $linear-red;
    color: #fff;
  }

  &--secondary {
    background-color: $yellow;
  }

  &--third {
    border: 1px solid #DDDDDD;
    background: #fff;
    font-weight: 400;
  }

  &--border {
    background: #fff;
    border: 1px solid;
  }

  &--border-red {
    border-color: $red;
    color: $red;
    transition: all .1s ease-in-out;

    &:hover {
      border-color: $red2;
      color: $red2;
    }
  }

  &--small {
    padding: 4px;
  }

  &--full-width {
    display: block;
    width: 100%;
  }

  &--mobile-full-idth {
    display: block;
    width: 100%;
  }

  &--with-icon {
    .icon {
      font-size: 14px;
      display: inline-block;
      margin-right: 4px;
      transform: translateY(1px);
      color: #fff;
    }

    &.kb-btn--secondary .icon {
      color: $text;
    }
  }

  &--responsive {
    padding: 8px;
    font-size: 12px;

    .icon {
      font-size: 12px;
    }

    @media only screen and (min-width: 768px) {
      padding: 13px 12px;

      font-size: 14px;

      .icon {
        font-size: 16px;
      }
    }
  }


  &:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .kb-btn--mobile-full-width {
    display: inline-block;
    width: auto;
  }
}

.kb-field {

  &--input,
  &--select {

    .kb-field {
      &__label {
        display: block;
        margin-bottom: 6px;
        line-height: 16px;
      }
      &__input,
      &__select {
        display: block;
        width: 100%;
        padding: 11px 12px;
        border: 1px solid #ddd;
        outline: none;

        &::placeholder {
          color: $text-light;
        }
      }
    }
  }
  &--select {
    position: relative;

    select {
      -webkit-appearance: none;
    }

    &:before {
      font-family: 'icomoon';
      content: '\e913';
      position: absolute;
      display: block;
      right: 12px;
      top: 37px;
      font-size: 12px;
    }
  }

  &--checkbox {

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      position: relative;
      cursor: pointer;

      &:before {
        content:'';
        position: relative;
        display: inline-block;
        top: -1px;
        margin-right: 5px;
        padding: 6px;
        border: 1px solid #ddd;
        border-radius: 2px;
        background: #fff;
        -webkit-appearance: none;
        vertical-align: middle;
        cursor: pointer;

      }
    }
    input:checked + label:before{
      background: $blue;
      border-color: $blue;
    }
    input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 5px;
      width: 5px;
      height: 10px;
      border: solid #FFF;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &--radio {

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      display: inline-block;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
    }

    [type="radio"]:checked + label:before {
      border-color: $blue;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $blue;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  &--small {

    .kb-field__input,
    .kb-field__select {
      padding: 4px 8px;
    }

    &.kb-field--select:before {
      top: 30px;
    }

    &.kb-field--radio {

      [type="radio"]:checked + label:before,
      [type="radio"]:not(:checked) + label:before {
        width: 12px;
        height: 12px;
        top: 4px;
      }

      [type="radio"]:checked + label:after,
      [type="radio"]:not(:checked) + label:after {
        top: 6px;
        left: 2px;
        width: 8px;
        height: 8px;
      }

      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label {
        padding-left: 22px;
      }
    }
  }

  &--without-label {
    .kb-field__label {
      display: none;
    }
    &:before {
      top: 15px;
    }
  }
}