.kb-object-view {

  &__heading {
    margin-bottom: 8px;
  }

  &__meta-data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      margin-right: 8px;
      color: #666;
    }
  }

  &__price-wrap {
    margin: 24px 0;
  }

  &__price {
    margin-right: 4px;
    font-size: 32px;
    font-weight: 700;
  }

  &__price-text {
  }

  &__text {

  }

  &__owner {
    display: flex;
    flex-direction: column;
  }

  &__owner-image {
    display: block;
    margin-bottom: 8px;
    max-width: 140px;
  }

  &__owner-info {
    margin-bottom: 12px;
  }

  &__actions {

  }

  &__star {
    cursor: pointer;

    .icon {
      font-size: 24px;
      color: #E2E2E2;
    }

    &:hover,
    &--filled {

      .icon:before {
        content: "\e903";
        color: #FFF200;
      }
    }
  }
}

.kb-object-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 12px;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #EDF2F4;
  &__item {
    flex: 0 0 100%;
    padding: 12px 0;
    color: #333;

    &:hover {
      text-decoration: none;
    }

    .icon {
      margin-right: 6px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    .kb-field__label {
      margin-bottom: 0;
      margin-right: 8px;
      white-space: nowrap;
    }

    .icon-kb-clipboard {
      margin-left: 4px;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 767px) {
    margin: 24px 16px;

    &__item {
      flex: auto;
    }
  }

  @media only screen and (min-width: 992px) {

    &__link {
      flex: 1 0 250px;
    }
  }
}

.kb-finance {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 4px;
  background: rgba(237, 242, 244, 0.5);

  &__logo {
    max-width: 50px;
    margin-right: 4px;
  }

  &__middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }
  &__price-wrap {
    margin-right: 8px;
  }
  &__price {
    font-size: 18px;
    font-weight: 500;
  }

  .kb-field--select {
    min-width: 100px;
  }

  &__text {
    flex: 0 0 100%;
    margin-top: 4px;
    text-align: center;
  }
  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 767px) {
    &__logo {
      max-width: 70px;
      margin-right: 12px;
    }
  }
}