$text: #333;
$text-light: #999;
$blue: #0075FF;
$red: #E80F0E;
$red2: #A10000;
$yellow: #FFF200;
$light-gray: #f2f2f2;
$light-blue-gray: #EDF2F4;

$linear-red: linear-gradient(180deg, $red 0%, $red2 100%);