@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?dep2iz#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kb-more:before {
  content: "";
}

.icon-kb-add:before {
  content: "";
}

.icon-kb-pin:before {
  content: "";
}

.icon-kb-star:before {
  content: "";
}

.icon-kb-star-empty:before {
  content: "";
}

.icon-kb-view:before {
  content: "";
}

.icon-kb-gallery:before {
  content: "";
}

.icon-kb-delete:before {
  content: "";
}

.icon-kb-edit:before {
  content: "";
}

.icon-kb-stats:before {
  content: "";
}

.icon-kb-check:before {
  content: "";
}

.icon-kb-warning:before {
  content: "";
}

.icon-kb-arrow-down:before {
  content: "";
}

* {
  color: #333;
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

p {
  line-height: 20px;
  font-size: 14px;
}

a {
  color: #0075FF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.kb-btn {
  display: inline-block;
  border-radius: 2px;
  padding: 12px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
.kb-btn--primary {
  background: linear-gradient(180deg, #E80F0E 0%, #A10000 100%);
  color: #fff;
}
.kb-btn--secondary {
  background-color: #FFF200;
}
.kb-btn--third {
  border: 1px solid #DDDDDD;
  background: #fff;
  font-weight: 400;
}
.kb-btn--border {
  background: #fff;
  border: 1px solid;
}
.kb-btn--border-red {
  border-color: #E80F0E;
  color: #E80F0E;
  transition: all 0.1s ease-in-out;
}
.kb-btn--border-red:hover {
  border-color: #A10000;
  color: #A10000;
}
.kb-btn--small {
  padding: 4px;
}
.kb-btn--full-width {
  display: block;
  width: 100%;
}
.kb-btn--mobile-full-idth {
  display: block;
  width: 100%;
}
.kb-btn--with-icon .icon {
  font-size: 16px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(1px);
  color: #fff;
}
.kb-btn:hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .kb-btn--mobile-full-width {
    display: inline-block;
    width: auto;
  }
}
.kb-field--input .kb-field__label, .kb-field--select .kb-field__label {
  display: block;
  margin-bottom: 6px;
  line-height: 16px;
}
.kb-field--input .kb-field__input, .kb-field--input .kb-field__select, .kb-field--select .kb-field__input, .kb-field--select .kb-field__select {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  outline: none;
}
.kb-field--input .kb-field__input::placeholder, .kb-field--input .kb-field__select::placeholder, .kb-field--select .kb-field__input::placeholder, .kb-field--select .kb-field__select::placeholder {
  color: #999;
}
.kb-field--select {
  position: relative;
}
.kb-field--select select {
  -webkit-appearance: none;
}
.kb-field--select:before {
  font-family: "icomoon";
  content: "";
  position: absolute;
  display: block;
  right: 12px;
  top: 36px;
}
.kb-field--checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.kb-field--checkbox label {
  position: relative;
  cursor: pointer;
}
.kb-field--checkbox label:before {
  content: "";
  position: relative;
  display: inline-block;
  top: -1px;
  margin-right: 5px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  vertical-align: middle;
  cursor: pointer;
}
.kb-field--checkbox input:checked + label:before {
  background: #0075FF;
  border-color: #0075FF;
}
.kb-field--checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 3px;
  height: 8px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.kb-field--radio [type=radio]:checked,
.kb-field--radio [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.kb-field--radio [type=radio]:checked + label,
.kb-field--radio [type=radio]:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.kb-field--radio [type=radio]:checked + label:before,
.kb-field--radio [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.kb-field--radio [type=radio]:checked + label:before {
  border-color: #0075FF;
}
.kb-field--radio [type=radio]:checked + label:after,
.kb-field--radio [type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #0075FF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.kb-field--radio [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.kb-field--radio [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.kb-field--small .kb-field__input,
.kb-field--small .kb-field__select {
  padding: 4px 8px;
}
.kb-field--small.kb-field--select:before {
  top: 28px;
}
.kb-field--small.kb-field--radio [type=radio]:checked + label:before,
.kb-field--small.kb-field--radio [type=radio]:not(:checked) + label:before {
  width: 12px;
  height: 12px;
  top: 3px;
}
.kb-field--small.kb-field--radio [type=radio]:checked + label:after,
.kb-field--small.kb-field--radio [type=radio]:not(:checked) + label:after {
  top: 6px;
  left: 3px;
  width: 8px;
  height: 8px;
}
.kb-field--small.kb-field--radio [type=radio]:checked + label,
.kb-field--small.kb-field--radio [type=radio]:not(:checked) + label {
  padding-left: 22px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.mt-3 {
  margin-top: 1rem;
}

/*# sourceMappingURL=index.css.map */
