@import 'vendor/reset';
@import 'vendor/grid';
@import 'vendor/spacing';

@import 'partials/variables';
@import 'partials/icons';
@import 'partials/typography';
@import 'partials/form';
@import 'partials/modal';

@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/login';

@import 'partials/listing';
@import 'partials/objectview';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}


.mt-3 {
  margin-top: 1rem;
}

.container--full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.container--paddingless-mobile {
  padding: 0;

  @media only screen and (min-width: 575px) {
    padding: 0 16px;
  }
}