@import 'vendor/reset';
@import 'vendor/grid';
@import 'vendor/spacing';

@import 'partials/variables';
@import 'partials/icons';
@import 'partials/typography';
@import 'partials/form';
@import 'partials/modal';

@import 'partials/login';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.mt-3 {
  margin-top: 1rem;
}